
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');


body {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    line-height: 1.5;
}


a {
    display: inline-block;
    text-decoration: none;
    color: #4B4B4B;
}

.btn {
    border: solid 1px;
    border-radius: 100px;
    padding: 8px 16px;
}



.container {
    max-width: 1296px;
    margin: 0 auto;
}


.menu {
    display: flex;
    justify-content: center;
}


.menu-item {
    line-height: 1.5;
    font-size: 28px;
    padding: 24px 20px;
}




.banner {
    display: flex;
    height: calc(100vh - 90px);
}

.bannerPhoto {
    width: 50%;
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section.png?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bannerContent {
    width: 50%;
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #0027D5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bannerContent-title {
    font-size: 120px;
    margin-bottom: 20px;
    margin-left: 80px;
}

.bannerContent-text {
    font-size: 28px;
    margin-left: 80px;
}



.banner2 {
    display: flex;
    justify-content: space-between;
    height: 640px;
    margin-bottom: 80px;
    border: solid 1px #6C757D;
}

.bannerPhoto2 {
    width: calc((100vw - 24px) / 2);
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/photo5.png?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bannerContent2 {
    width: calc((100vw - 24px) / 2);
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bannerContent2-title2 {
    font-size: 24px;
    color: #0027D5;
    /* margin-bottom: 20px;
    margin-left: 80px; */
}

.bannerContent2-title {
    font-size: 28px;
    /* margin-bottom: 20px;
    margin-left: 80px; */
}


.btn-blue {
    color: #fff;
    background-color: #0027D5;
}




.searchbar {
    max-width: 416px;
    margin-left: 312px;
    margin-bottom: 40px;
    border: solid 1px;
    border-radius: 100px;
    padding-right: 48px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    display: flex;
}

.bi-search {
    font-size: 24px;
    margin-right: 10px;
}

.searchbar-input {
    border: unset;
    outline: none;
}





.list {
    display: flex;
/*     justify-content: space-between; */
    flex-wrap: wrap;
    gap: 80px 24px;
}


.item {
    width: 416px;
}

.item .hashtag {
    font-size: 24px;
    color: #0027D5;
    margin-right: 8px;
}

.item .head {
    font-size: 28px;
    font-weight: 700;
}

.item .content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}



.container .pager {
    max-width: 328px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
    /* display: flex;
    justify-content: center; */
    /* margin-top: 40px; */
}



.footer {
    height: 208px;
}
.footer .info {
    display: flex;
    justify-content: center;
    padding: 80px;
}

.email {
    font-size: 32px;
    width: 1036px;
}

.social {
    display: flex;
}


.footer .info2 {
    height: 72px;
    text-align: center;
}